@font-face {
  font-family: SegoeUI;
  src: url("../fonts/SegoeUI.ttf");
}

@font-face {
  font-family: SegoeUI-Bold;
  src: url("../fonts/SegoeUI-Bold.ttf");
}

.body {
  font-family: SegoeUI, Helvetica, sans-serif;
}

.header-content {
  margin: 25px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  width: 100%;
  max-width: 159px;
}

.contacts-grup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}

.contacts-grup-icon {
  min-width: 30px;
  max-width: 30px;
  text-align: center;
}

.contacts-grup-icon img {
  width: 100%;
  max-height: 30px;
}

.contacts-grup a {
  margin-left: 15px;
  font-size: 33px;
  color: #0f4949;
}

.brend {
  background: url("../img/fon.jpg") no-repeat center top;
  background-size: cover;
  min-height: 932px;
}

.brend h1 {
  font-family: SegoeUI-Bold, Helvetica, sans-serif;
  padding-top: 195px;
  text-shadow: 0.5px 0.9px 19.7px rgba(1, 14, 13, 0.63);
  font-size: 69px;
  text-align: center;
  line-height: 1.27;
  color: #ffffff;
}

.substrate {
  background: rgba(0, 61, 61, 0.7);
}

.substrate p {
  font-family: SegoeUI, Helvetica, sans-serif;
  font-size: 47.5px;
  line-height: 1.28;
  color: #ffffff;
  text-align: center;
  padding: 17px 0;
  margin: 0;
}

.services-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  margin-top: -45px;
  padding: 15px;
  width: 350px;
}

.services-headline-icon {
  min-width: 50px;
}

.services-headline-icon img {
  width: 100%;
}

.services-headline h2 {
  margin-left: 15px;
  font-family: SegoeUI-Bold, Helvetica, sans-serif;
  font-size: 60px;
  color: #0f4949;
}

.services-items {
  background-color: #e5e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.services-items-icon {
  display: inline-block;
  width: 150px;
  height: 160px;
  border-right: 50px solid transparent;
  border-bottom: 160px solid #0f4949;
}

.services-items-icon img {
  padding-left: 15px;
  padding-top: 35px;
  max-width: 100px;
}

.services-items p {
  font-family: SegoeUI, Helvetica, sans-serif;
  font-size: 23px;
  color: #0f4949;
  display: inline-block;
  margin: 0;
  line-height: 1.1;
  padding: 5px;
}

.advantages {
  margin-top: 150px;
  background: url("../img/auto.jpg") #0f4949 no-repeat right center;
  background-size: 50%;
  color: #ffffff;
}

.advantages h2 {
  margin-top: 125px;
  font-family: SegoeUI-Bold, Helvetica, sans-serif;
  font-size: 45px;
}

.advantages-list {
  margin-top: 40px;
  margin-bottom: 130px;
  padding: 0;
}

.advantages-items {
  position: relative;
  font-family: SegoeUI, Helvetica, sans-serif;
  font-size: 32px;
  margin-top: 25px;
  margin-bottom: 25px;
  list-style: none;
  padding-left: 70px;
}

.advantages-items:before {
  content: '';
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  width: 50px;
  height: 50px;
  background: url("../img/verified.svg") no-repeat center center;
  background-size: cover;
}

.maps {
  margin-top: 90px;
}

.maps h2 {
  font-family: SegoeUI-Bold, Helvetica, sans-serif;
  font-size: 45px;
  line-height: 1.28;
  color: #0f4949;
}

iframe {
  border: 0;
}

.connection {
  background: #0f4949;
}

.connection img {
  max-width: 50px;
  margin-top: 25px;
  margin-bottom: 17px;
}

.connection p {
  font-family: SegoeUI-Bold, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 0.75;
  color: #ffffff;
}

.connection a {
  font-family: SegoeUI-Bold, Helvetica, sans-serif;
  display: block;
  font-size: 20px;
  line-height: 0.75;
  margin-bottom: 1rem;
  color: #ffffff;
}

.up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: url("../img/up-chevron-button.svg") no-repeat center center;
  background-size: 100%;
}

footer {
  margin-top: 50px;
  margin-bottom: 40px;
}

@media (max-width: 1199px) {
  .contacts a {
    font-size: 25px;
  }
  .contacts-grup {
    line-height: normal;
    padding: 3px 0;
  }
  .advantages h2 {
    font-size: 40px;
  }
  .advantages-items {
    font-size: 25px;
  }
}

@media (max-width: 991px) {
  .brend {
    min-height: 650px;
  }
  .advantages {
    background-size: 40%;
  }
}

@media (max-width: 768px) {
  .brend h1 {
    padding-top: 125px;
    font-size: 55px;
  }
  .services-headline {
    width: 260px;
  }
  .services-headline h2 {
    font-size: 50px;
  }
  .substrate p {
    font-size: 30px;
  }
  .advantages {
    background: #0f4949;
  }
  .connection img {
    margin-bottom: 25px;
  }
  .connection a {
    line-height: normal;
    margin-bottom: 0;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0;
  }
  .wrapper-descriptions {
    margin-left: 15px;
  }
}

@media (max-width: 576px) {
  .header-content {
    margin: 10px 0;
  }
  .contacts a {
    font-size: 15px;
  }
  .brend {
    min-height: 450px;
  }
  .brend h1 {
    padding-top: 115px;
    font-size: 30px;
  }
  .substrate p {
    font-size: 20px;
  }
  .services-headline {
    margin: -40px auto 0 auto;
    width: 180px;
  }
  .services-headline-icon {
    min-width: 30px;
  }
  .services-headline h2 {
    font-size: 30px;
  }
  .services-items {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .services-items-icon {
    width: 135px;
    height: 135px;
    border-bottom: 135px solid #0f4949;
  }
  .services-items-icon img {
    padding-left: 15px;
    padding-top: 25px;
  }
  .advantages {
    margin-top: 85px;
  }
  .advantages h2 {
    margin-top: 45px;
    font-size: 28px;
  }
  .advantages-list {
    margin-bottom: 45px;
  }
  .advantages-items {
    font-size: 16px;
  }
  .maps {
    margin-top: 30px;
  }
  .maps h2 {
    font-size: 28px;
  }
}
/*# sourceMappingURL=style.css.map */